<a href="https://colab.research.google.com/github/misbahEffendy/Case-Study-02-Data-Mining-UIN-Ganjil-2022-Kelompok-4/blob/main/Case_Study_02_Data_Mining_UIN_Ganjil_2022_Kelompok_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, seaborn as sns

In [ ]:
!mkdir data
!wget -P data/ https://raw.githubusercontent.com/misbahEffendy/Case-Study-02-Data-Mining-UIN-Ganjil-2022-Kelompok-4/main/contoh%20data%20Case%20Study%2002%20MixITup.csv

--2022-10-11 04:39:36--  https://raw.githubusercontent.com/misbahEffendy/Case-Study-02-Data-Mining-UIN-Ganjil-2022-Kelompok-4/main/contoh%20data%20Case%20Study%2002%20MixITup.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10440 (10K) [text/plain]
Saving to: ‘data/contoh data Case Study 02 MixITup.csv’

contoh data Case St 100%[===================>]  10.20K  --.-KB/s    in 0s

2022-10-11 04:39:36 (38.5 MB/s) - ‘data/contoh data Case Study 02 MixITup.csv’ saved [10440/10440]

In [ ]:
df = pd.read_csv("data/contoh data Case Study 02 MixITup.csv", low_memory = False, encoding='utf8')

In [ ]:
df

,ID,Jenis Kelamin,Umur,Pendapatan-per-bulan,skor-pengeluaran,Menikah,Kota,Promo,HariFav,FavFlavor
0,101,Wanita,49,"Rp13,114,754",52,1,Jakarta,1.0,Sabtu,2
1,102,Wanita,32,"Rp33,606,557",86,1,Depok,1.0,Minggu,6
2,103,Pria,51,"Rp15,983,606",41,1,Jakarta,2.0,Minggu,3
3,104,Pria,19,"Rp12,704,918",55,0,Jakarta,1.0,Rabu,7
4,105,Wanita,38,"Rp20,081,967",42,1,Jakarta,2.0,Senin,8
...,...,...,...,...,...,...,...,...,...,...
195,296,Pria,31,"Rp4,098,360",73,1,Depok,1.0,Senin,0
196,297,Pria,57,"Rp15,983,606",51,1,Jakarta,1.0,Minggu,5
197,298,Wanita,35,"Rp43,032,786",79,1,Depok,1.0,Senin,7
198,299,Wanita,23,"Rp1,229,508",94,1,Depok,0.0,Selasa,0
199,300,Pria,50,"Rp1,639,344",14,1,Tangerang,3.0,Minggu,6

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    200 non-null    int64
 1   Jenis Kelamin         196 non-null    object
 2   Umur                  200 non-null    object
 3   Pendapatan-per-bulan  200 non-null    object
 4   skor-pengeluaran      200 non-null    int64
 5   Menikah               188 non-null    object
 6   Kota                  200 non-null    object
 7   Promo                 194 non-null    float64
 8   HariFav               200 non-null    object
 9   FavFlavor             200 non-null    int64
dtypes: float64(1), int64(3), object(6)
memory usage: 15.8+ KB

In [ ]:
df.shape

(200, 10)